[project]
name = "python-ci-cd-test"
version = "0.1.0"
description = ""
readme = "README.md"
license = "MIT"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.129.2",
]

[dependency-groups]
dev = [
    "pytest>=9.0.2",
    "ruff>=0.15.2",
]
