name: CI

permissions:
  contents: read

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.4"

      # We use `actions/setup-python@v6` because GitHub contains Python 3.12 with their runners, 
      # It is ~1s quicker than setting up python with uv.
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Lint with Ruff
        run: uv run ruff check

      - name: Check formatting with Ruff
        run: uv run ruff format --check

      - name: Typecheck with Ty
        run: uv run ty check

      - name: Run tests
        run: uv run pytest -v
