name: Continuous Integration (CI)

permissions:
  contents: read
on:
  push:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - 'tests/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'app/**'
      - 'tests/**'

jobs:
  ruff-lint:
    name: Lint and Format check with Ruff
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Install Ruff
        uses: astral-sh/ruff-action@v3
        
      - name: Lint with Ruff
        run: ruff check
        
      - name: Check formatting with Ruff
        run: ruff format --check


  test:
    name: Run Python Tests
    runs-on: ubuntu-latest
    needs: ruff-lint
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.10.4"
          enable-cache: true
          
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      
      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest -v
